@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@model SaveTheParents.Models.Product.ProductDetail

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="container">
        <div class="row display-section">
            <div class="col-md-12">
                <h1>@Html.DisplayFor(model => model.ProductName)</h1>

                <br/>

                <h2>UPC:</h2>
                <p>@Html.DisplayFor(model => model.Upc)</p>

                <h2>Description:</h2>
                <p>@Html.DisplayFor(model => model.ProductDescription)</p>
                
                <br />
                <p>
                    @Html.ActionLink("Back to List", "Index") |
                    @Html.ActionLink("Write a review", "Create", "Review", new { id=Model.ProductId}, null)
                </p>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="container">
        @foreach (var item in Model.Reviews) {
            <div class="row review">
                <div class="col-md-12">
                    <h2>
                        @Html.DisplayFor(modelItem => item.UserName) |
                        @Html.DisplayFor(modelItem => item.ReviewTitle)
                    </h2>
                    <p>
                        @Html.DisplayFor(modelItem => item.ReviewText)
                    </p>
                    <p>
                        Child Rading: @Html.DisplayFor(modelItem => item.ChildRating)
                    </p>
                    <p>
                        Parent Rating: @Html.DisplayFor(modelItem => item.ParentRating)
                    </p>

                    @if (User.Identity.GetUserId() == item.UserId.ToString())
                    {
                        @Html.ActionLink("Edit", "Edit", "Review", new {id = item.ReviewId}, null)
                        @Html.ActionLink("Delete", "Delete", "Review", new {id = item.ReviewId}, null)
                    }
                </div>
            </div>
        }
    </div>
</div>