@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@model SaveTheParents.Models.Product.ProductDetail

@{
    ViewBag.Title = "Details";
}

<div>
    <br/>

    <h2>@Html.DisplayFor(model => model.ProductName)</h2>
    <hr/>
    <dl class="dl-horizontal">

        <dt>
            UPC
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Upc)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Write a review", "Create", "Review", new { id=Model.ProductId}, null)
</p>

@foreach (var item in Model.Reviews)
{
    <div class="card text-white bg-primary mb-3 container">
        <div class="card-header row">
            <div class="col-md-12">
                @Html.DisplayFor(modelItem => item.UserName) |
                @Html.DisplayFor(modelItem => item.ReviewTitle)    
            </div>
        </div>
        <div class="card-body row">
            <div class="col-md-8">
                <p class="card-text">@Html.DisplayFor(modelItem => item.ReviewText)</p>
            </div>
            <div class="col-md-4">
                <p class="card-text">Child Rating: @Html.DisplayFor(modelItem => item.ChildRating)</p>
                <p class="card-text">Parent Rating: @Html.DisplayFor(modelItem => item.ParentRating)</p>
            </div>
        </div>
        @if (User.Identity.GetUserId() == item.UserId.ToString())
        {
            <div class="card-footer bg-secondary text-muted row">
                <div class="col-md-12">
                    @Html.ActionLink("Edit", "Edit", "Review", new {id = item.ReviewId}, null) |
                    @Html.ActionLink("Delete", "Delete", "Review", new {id = item.ReviewId}, null)
                </div>
            </div>
        }
        
    </div>
}